<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
  </head>
  <body>
    <h1>Available Quizzes</h1>
    <ul>
      {% for quiz in quizzes %}
      <li>
        <a href="{{ url_for('take_quiz', quiz_id=quiz['_id']) }}"
          >{{ quiz['title'] }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% if role == 'professor' %}
    <a href="/addQuiz">Create a new Quiz</a>. {% endif %}

    <a href="/chart">show chart</a>
    <a href="/logout">logout</a>.
  </body>
</html>
